* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/typography';
@import 'sass/spacing';

html {
  width: 100vw;
  min-width: 320px;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #050607;
}

@import 'sass/layout.scss';
